
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;500;600;700;800&display=swap');

*
{
  font-family: 'Noto Sans', sans-serif !important;
}
.inicio
{
  background-color: whitesmoke;
}

html{
  background-color: whitesmoke;
}
.inicio
{
  max-width: 100% ;
  height: auto;
  margin: 0 auto;
}

